.body-background{
	background-image:url(../images/login-background-img/login-background-img.png);
	background-repeat:no-repeat;
	background-size:100% 100%; 
	background-attachment: fixed;
}

.login-page{
	width:400px;
	height:600px;
	margin-right: 100px;
	margin-top: 5%;
	float: right;
}

.main{
	width:1170px;
	margin: 0 auto;
}
.whole-bg{
	height: 100%;
}

.foot_sub_menu{
	text-align: center;
}

.foot_copyright{
	text-align: center;
}

.form-style{
	float: left;
	display:block; 
	width: 100px;
}
.clearfix{
	display: block;
}

.right-bar{
	float:right;
}

.topic-xinyue{
	vertical-align:middle; 
	text-align:center;
}

